<h1>Image upload</h1>

<form action="{{ path('image_crud_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Upload</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('image_crud') }}">
            Back to the list
        </a>
    </li>
</ul>