<html>
<head>
	<title>VidelGalleryBundle</title>
	{% stylesheets
		'@VidelGalleryBundle/Resources/public/css/videl.gallery.css'
		%}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
</head>
<body>

{% block body %}
{% endblock %}

{% javascripts
    '@VidelGalleryBundle/Resources/public/js/jquery.masonry.min.js'
    'http://code.jquery.com/jquery-1.9.1.min.js'
    %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block myjs %}
{% endblock %}

</body>
</html>